@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-color: #f1f0f6;
  --main-color: #204353;
  --secondary-color: #bdcae9;
  --white: #ffffff;
}

body {
  font-family: "Elms Sans", sans-serif;
  background-color: var(--bg-color);
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--main-color);
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

h1 {
  font-weight: 700;
  font-size: 2em;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.input-container input {
  /* margin-top: 0.5rem; */
}

.feature-input-text,
.feature-submit {
  box-sizing: border-box;
  font-family: inherit;
  width: 80vw;
  padding: 1rem;
  border: 1px solid var(--main-color);
  border-radius: 10px;
}

.feature-submit {
  margin-top: 2rem;
}

.feature-input-text {
  height: 4rem;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.feature-submit {
  background-color: var(--main-color);
  color: var(--bg-color);
  height: 3.5rem;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}
.switch-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 80vw;
}

.feature-input-switch {
  box-sizing: border-box;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 3rem;
  width: 6rem;
  background-color: var(--secondary-color);
  border: 2px solid var(--main-color);
  border-radius: 10rem;
  padding: 0.25rem;
  margin-right: 1.25rem;
}

.feature-input-switch-slider {
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--main-color);
  border-radius: 10rem;
}

.switch__off {
  justify-content: start;
  background-color: var(--white);
}

.switch-text {
  font-size: 1.25rem;
}

.radio-container {
  display: flex;
  width: 80vw;
  justify-content: start;
  margin-bottom: 1.5rem;
}

.radio-container label {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.radio-container input {
  height: 1.5rem;
  width: 1.5rem;
}

.slider-container {
  width: 80vw;
}

.slider-container input {
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.slider-container label {
  font-size: 1.2rem;
}

.slider {
  appearance: none;
  height: 1rem;
  background-color: var(--secondary-color);
  /* border: 1px solid var(--main-color); */
  border-radius: 1rem;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  height: 2rem;
  width: 2rem;
  background-color: var(--main-color);
  border-radius: 50%;
}

.output {
  visibility: hidden;
  margin-top: 4rem;
  /* display: flex; */
  width: 80vw;
  border: 1px solid var(--main-color);
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 1rem;
}

.output-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  width: 100%;
}

.output-info {
  font-size: 1.2rem;
}

.output-number {
  font-weight: 900;
}
